## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vardo,NO,70.3705,31.1107,53.35,81,0,2.30,clear sky
1,1,Pandan,PH,14.0453,124.1694,82.96,76,100,14.52,overcast clouds
2,2,Manyana,BW,-23.4000,21.7167,60.82,20,0,6.17,clear sky
3,3,Balabac,PH,7.9868,117.0645,83.88,78,100,16.89,overcast clouds
4,4,Hokitika,NZ,-42.7167,170.9667,46.67,89,100,9.46,light rain

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pandan,PH,14.0453,124.1694,82.96,76,100,14.52,overcast clouds
3,3,Balabac,PH,7.9868,117.0645,83.88,78,100,16.89,overcast clouds
5,5,San Cristobal,VE,7.7669,-72.2250,80.78,70,100,7.74,overcast clouds
10,10,Alamosa,US,37.4695,-105.8700,71.65,72,75,3.44,broken clouds
11,11,Fairbanks,US,64.8378,-147.7164,74.23,73,1,3.44,clear sky
15,15,Bermeo,ES,43.4209,-2.7215,76.86,67,28,6.33,scattered clouds
17,17,Arraial Do Cabo,BR,-22.9661,-42.0278,80.56,68,20,17.27,few clouds
20,20,La Tijera,MX,19.9000,-104.4000,74.25,56,49,1.36,scattered clouds
21,21,Henties Bay,NaN,-22.1160,14.2845,71.85,64,0,3.00,clear sky
22,22,Hithadhoo,MV,-0.6000,73.0833,80.78,75,95,5.39,overcast clouds

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                298
City                   298
Country                297
Lat                    298
Lng                    298
Max Temp               298
Humidity               298
Cloudiness             298
Wind Speed             298
Current Description    298
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pandan,PH,14.0453,124.1694,82.96,76,100,14.52,overcast clouds
3,3,Balabac,PH,7.9868,117.0645,83.88,78,100,16.89,overcast clouds
5,5,San Cristobal,VE,7.7669,-72.2250,80.78,70,100,7.74,overcast clouds
10,10,Alamosa,US,37.4695,-105.8700,71.65,72,75,3.44,broken clouds
11,11,Fairbanks,US,64.8378,-147.7164,74.23,73,1,3.44,clear sky
...,...,...,...,...,...,...,...,...,...,...
679,679,Adre,TD,13.4667,22.2000,75.47,78,79,15.08,broken clouds
681,681,Ranong,TH,9.9658,98.6348,79.84,88,98,12.86,overcast clouds
686,686,Aitape,PG,-3.1374,142.3475,78.35,87,36,7.07,scattered clouds
689,689,Richmond,US,37.5538,-77.4603,82.33,53,20,5.01,few clouds
692,692,Ewa Beach,US,21.3156,-158.0072,76.95,74,75,6.91,broken clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pandan,PH,82.96,overcast clouds,14.0453,124.1694,
3,Balabac,PH,83.88,overcast clouds,7.9868,117.0645,
5,San Cristobal,VE,80.78,overcast clouds,7.7669,-72.2250,
10,Alamosa,US,71.65,broken clouds,37.4695,-105.8700,
11,Fairbanks,US,74.23,clear sky,64.8378,-147.7164,
15,Bermeo,ES,76.86,scattered clouds,43.4209,-2.7215,
17,Arraial Do Cabo,BR,80.56,few clouds,-22.9661,-42.0278,
20,La Tijera,MX,74.25,scattered clouds,19.9000,-104.4000,
22,Hithadhoo,MV,80.78,overcast clouds,-0.6000,73.0833,
23,Asau,RO,81.52,scattered clouds,46.4333,26.4000,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
# 7. Drop the rows where there is no Hotel Name.
no_hotel = float("NaN")
clean_hotel_df.replace("", no_hotel, inplace=True)
clean_hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pandan,PH,82.96,overcast clouds,14.0453,124.1694,Bonifacio Lodge
3,Balabac,PH,83.88,overcast clouds,7.9868,117.0645,Sing and Swing Lodge
5,San Cristobal,VE,80.78,overcast clouds,7.7669,-72.2250,Posada Villaven C.A.
10,Alamosa,US,71.65,broken clouds,37.4695,-105.8700,Best Western Alamosa Inn
11,Fairbanks,US,74.23,clear sky,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
...,...,...,...,...,...,...,...
677,Ambanja,MG,71.64,light rain,-13.6833,48.4500,Hotel Salama and Fast Food
678,Arrifes,PT,73.65,few clouds,37.7667,-25.7000,Hotel Ponta Delgada
681,Ranong,TH,79.84,overcast clouds,9.9658,98.6348,Tinidee Hotel@Ranong
689,Richmond,US,82.33,few clouds,37.5538,-77.4603,The Jefferson Hotel
692,Ewa Beach,US,76.95,broken clouds,21.3156,-158.0072,Uncle Junior Robert

In [53]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [58]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.9)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))